<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= link_to rule.name, project_issue_digest_rule_path(@project, rule) %>
  </td>
  <td><%= schedule_description(rule) %></td>
  <td><%= recipient_modes_description(rule, cache: local_assigns[:label_cache]) %></td>
  <td><%= digest_rule_status_badge(rule) %></td>
  <td>
    <% if latest_run %>
      <%= format_time(latest_run.started_at) %> <%= format_run_status(latest_run) %>
    <% else %>
      <span class="nodata"><%= l(:text_no_runs_yet) %></span>
    <% end %>
  </td>
  <td class="buttons">
    <%= link_to l(:label_run_history),
                project_issue_digest_rule_path(@project, rule),
                class: 'icon icon-time' %>
    <% if User.current.allowed_to?(:manage_digest_rules, @project) %>
      <%= link_to l(:button_edit),
                  edit_project_issue_digest_rule_path(@project, rule),
                  class: 'icon icon-edit' %>
      <% if rule.active %>
        <%= button_to l(:button_disable),
                      disable_project_issue_digest_rule_path(@project, rule),
                      method: :post, class: 'icon icon-lock' %>
      <% else %>
        <%= button_to l(:button_enable),
                      enable_project_issue_digest_rule_path(@project, rule),
                      method: :post, class: 'icon icon-unlock' %>
      <% end %>
      <%= button_to l(:button_delete),
                    project_issue_digest_rule_path(@project, rule),
                    method: :delete,
                    data: { confirm: l(:text_digest_rule_delete_confirm, name: rule.name) },
                    class: 'icon icon-del' %>
    <% end %>
  </td>
</tr>
